<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="singleton009spring" class="com.github.bjlhx15.patterns.base.eg01create.eg03singleton.Singleton009spring"
          init-method="init" scope="singleton"></bean>


    <bean id="singleton009spring2" class="com.github.bjlhx15.patterns.base.eg01create.eg03singleton.Singleton009spring"
          init-method="init" scope="prototype"></bean>



    <bean id="singleton011springattr" class="com.github.bjlhx15.patterns.base.eg01create.eg03singleton.Singleton011springattr"
          init-method="init" scope="singleton"></bean>
</beans>